<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
        <endpointBehaviors>
          <behavior name="Graph">
            <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelReservationInterface" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:56629/Services/HotelReservationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelReservationInterface"
                contract="HotelReservationReference.IHotelReservationInterface"
                name="BasicHttpBinding_IHotelReservationInterface" />
        </client>
    </system.serviceModel>
</configuration>